body {
    background-color: gray;
    padding: 20px;
}

a {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 40px;
    text-decoration: none;
}
